* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --clr-dark: #171717;
    --clr-light: #fff;
    --clr-slate: #e3e3e3;
    --clr-text-dark: #0000002b;
    --clr-text-light: #ececece8;
    --border-thin: 0.75px solid rgba(183, 183, 183, 0.696);
    --border-normal: 1px solid rgb(130, 130, 130);
    --font-header: clamp(2rem, 8vw, 10rem);
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    color: var(--clr-text-light);
}
h1 {
    font-size: var(--font-header);
    font-weight: 800;
    margin-block-end: 1rem;
}
ul, li, a {
    text-decoration: none;
    list-style-type: none;
    color: var(--clr-text-light);
}
a {
    cursor: pointer;
}
a:hover {
    color: var(--clr-light);
}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
img {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-style: italic;
}
header {
    width: 100%;
    height: 100vh;
    padding: 4rem;
    padding-block-end: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-dark);
}

main {
    width: 100%;
}
.services {
    height: auto;
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--clr-dark);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    transform-origin: bottom;
}
.service-wrapper {
    width: 100%;
    height: 340px;
    border-bottom: var(--border-normal);
    padding-block: 1.25rem;
    display: grid;
    grid-template-columns: 2.5fr 4fr;
    transform-origin: bottom;
    gap: 1rem;
}
.service-wrapper {
    animation: increase ease-in-out forwards;
    animation-timeline: view();
    animation-range-start: cover 20vh;
    animation-range-end: 130vh;
    animation-delay: 10000ms;
}
.wrapper-0 { order: 6; }
.wrapper-1 { order: 5; }
.wrapper-2 { order: 4; }
.wrapper-3 { order: 3; }
.wrapper-4 { order: 2; }
.wrapper-5 { order: 1; }

.service-title {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 4fr;
    align-items: center;
    border-bottom: var(--border-normal);
}
.service-title h2 {
    font-size: 4rem;
    margin: 0rem 0rem 1rem 0.5rem;
    grid-area: 1 / 2 / 1 / 3;
    
}
.service-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service-info h3 {
    font-size: 2rem;
    font-weight: 500;
}
.service-info p {
    max-width: 55ch;
}
.image-wrapper {
    height: 100%;
    width: 30%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    transform-origin: bottom left;
    transition: 280ms ease;
}
.image-wrapper {
    animation: expand ease-in-out forwards;
    animation-timeline: view();
    animation-range-end: 140vh;
}
.wrapper-height {
    animation: increase ease forwards;
    animation-timeline: view();
    animation-range-start: cover 20vh;
    animation-range-end: 130vh;
    animation-delay: 10000ms;
}
.image-width {
    animation: expand cubic-bezier(0.95, 0.05, 0.795, 0.035) /* forwards */;
    animation-timeline: view();
    animation-range-end: 140vh;
}

/* <---- Animations ----> */

@keyframes increase {
    to {
        height: 620px;
    }
}
@keyframes expand {
    to {
        width: 100%;
    }
}

/* <---- Footer ----> */

footer {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "nav"
        "logo";
    gap: 1rem;
    background-color: var(--clr-dark);
    padding: 4rem;
}
.footer-nav {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: start;
}
.footer-nav ul li {
    margin-block-end: 2rem;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}
.logo span {
    font-size: 10rem;
}